<div class="background">
  <img src="https://static.cinepolis.com/marcas/club-cinepolis-id/Content/images/cinepolis-logo.png" alt="Título" class="title">
  
    <div class="container">
      <div class="left-box">
          <h2>Entradas</h2>

          <div class="input-group">
            <label for="nombre">Nombre:</label>
            <mat-form-field class="input">
              <input matInput id="nombre" placeholder="Nombre" [(ngModel)]="nombre">
            </mat-form-field>
          </div>
          <div class="input-group">
            <label for="cantidadCompradores">Cantidad de compradores:</label>
            <mat-form-field class="input">
              <input matInput type="number" id="cantidadCompradores" placeholder="Cantidad de compradores" [min]="0" [(ngModel)]="cantidadCompradores" (change)="CantidadBoletos()">
            </mat-form-field>
          </div>
          <div class="input-group">
            <label>Club Cinepolis:</label>
            <mat-radio-group [(ngModel)]="club">
              <mat-radio-button value="true">Si</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="input-group">
            <label for="cantidadBoletos">Cantidad de boletos:</label>
            <mat-form-field class="input">
              <input matInput type="number" id="cantidadBoletos" placeholder="Cantidad de boletos" [min]="0" [(ngModel)]="cantidadBoletos">
            </mat-form-field>
        </div>
      </div>
        
      <div class="right-box">
        <h2>Salida</h2>
        <div>
          <div *ngIf="mostrarCamposEntrada">
            <p>Nombre: {{ nombre }}</p>
            <p>Cantidad de compradores: {{ cantidadCompradores }}</p>
            <p>Cantidad de boletos: {{ cantidadBoletos }}</p>
          </div>
          <p>Total a pagar: {{ totalPagar | currency }}</p>
        </div>
      </div>

    </div>
  
    <div  class="center-button">
      <button mat-raised-button class="mat-button" (click)="F5()">Limpiar</button>
      <span style="margin-right: 10px;"></span>
      <button mat-raised-button (click)="calcularTotal()">Procesar</button>
    </div>
    
  </div>